@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:wght@500;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(110deg, #984d38 -30%, #181e48 58%) no-repeat;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 110px;
}

.form {
  position: relative;
}

.form__button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: calc(50% - 10px);
}

.form__input {
  width: 384px;
  background: rgba(225, 225, 225, 0.1);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  font-size: 20px;
}

.form__input:focus {
  outline: none;
}
.header__logo {
  display: block;
  width: 161px;
  height: 30px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}
.header__list {
  display: flex;
  list-style-type: none;
  gap: 40px;
  font-size: 20px;
}

.header__link {
  color: #fff;
  text-decoration: none;
}
.header__link__gradient {
  background: linear-gradient(214deg, #b75cff 6%, #671ae4 92%) no-repeat;
  border-radius: 10px;
  padding: 10px 20px;
}

/* ///////////////////////////////////////////////////////////////////////////// */

.container {
  max-width: 1197px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
}

.main__desc {
  font-size: 20px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 42px;
}

.main__text {
  flex-basis: 490px;
}

.main__btn {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 11px 20px;
}

.main__btn_gradient {
  background: linear-gradient(214deg, #b75cff 6%, #671ae4 92%) no-repeat;
  margin-right: 17px;
}
.sell {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 50px;
}

.main__image {
  flex-basis: calc(100% - 490px - 250px);
}

.main__img {
  width: 100%;
  height: 100%;
}

.main__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  color: #fff;
  text-align: center;
  gap: 110px;
  margin-top: 60px;
  margin-bottom: 24px;
}
.main__item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.main__span {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}

.company {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 100px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.desc {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-bottom: 50px;
}

.names {
  font-size: 20px;
  color: #b75cff;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card__item {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px;

  flex-basis: 32%;
  box-sizing: border-box;
}

.card__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
}

.card__img {
  width: 100%;
  height: 380px;
  position: absolute;
}

.my__title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.spec__title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
}

.spec__desc {
  font-size: 20px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 42px;
}

.spec__text {
  flex-basis: 490px;
}

.spec__btn {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 11px 90px;
}

.spec__btn_gradient {
  background: linear-gradient(214deg, #b75cff 6%, #671ae4 92%) no-repeat;
  margin-right: 17px;
}

.spec__image {
  flex-basis: calc(100% - 490px - 250px);
}

.spec__img {
  width: 100%;
  height: 100%;
}

.footer {
  text-align: center;
  padding: 40px 0;
  background: rgba(255, 255, 255, 0.1);
}

.social-icons {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  background-color: #b75cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  padding: 20px 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  padding: 20px;
  color: #fff;
  font-size: 14px;
}

/* .accordion {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.accordion__content {
  display: none;
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(rgb(105, 104, 104));
  border-top: none;
}

.accordion__title span {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(0);
  transition: 0.5s;
}

.accordion__title.active span {
  transform: rotate(45deg);
}

.accordion__title span::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
}

.accordion__title span::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
}

.accordion__content {
    font-size: 20px;
    line-height: 1.3;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    transition: 0.5s;
}


 .accordion__content.active {
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: 0.5s;
 } */
